%p#notice= notice

%p
  %b Inside temperature:
  = @reading.inside_temperature
%p
  %b Outside temperature:
  = @reading.outside_temperature

= link_to 'Edit', edit_reading_path(@reading)
\|
= link_to 'Back', readings_path
